@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Movies";
}
<br />
<h3>Movies</h3>
<br />
@Html.ActionLink("Upload Movie", "Create","Movies", null, new { @class = "btn-sm btn-primary", style = "text-decoration:none;" })
<br />
<br />
<table class="table table-striped table-responsive table-bordered" style="font-size:16px;">
    <tr>
        <th>Movie Name</th>
        <th>Genere</th>
    </tr>
    @foreach (var movie in Model)
    {

        <tr>
            <td class="text-capitalize">@Html.ActionLink(movie.Name, "Details", "Movies", new { movie.ID }, null)</td>
            <td>@movie.Genre.type</td>
        </tr>
    }
</table>


